@import "tailwindcss";
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

@utility container {
  @apply mx-auto px-5 md:px-7;
}

@layer components {
  .hoverEffect {
    @apply transition-all duration-300;
  }
}

@theme {
  --color-red: #ef6461;
  --color-yellow: #e4b363;
  --color-white: #e8e9eb;
  --color-gray: #e0dfd5;
  --color-color-black: #313638;
}
